<p class="text-success"><%= notice %></p>

<% content_for :title, "Books" %>

<h1 class="my-4">Books</h1>

<div id="books" class="row row-cols-1 row-cols-md-3 g-4">
  <% @books.each do |book| %>
    <%= render "book_shelf", book: book %>
  <% end %>
</div>

<div class="mt-4">
  <%= link_to "New Book", new_book_path, "data-controller": "turbo", class: "btn btn-success me-2" %>
  <% if user_signed_in? %>
    <%= link_to "Log Out", destroy_user_session_path, data: { turbo_method: :delete }, class: "btn btn-danger" %>
  <% else %>
    <%= link_to "Log In", new_user_session_path, class: "btn btn-danger" %>
  <% end %>
</div>
