<p style="color: green"><%= notice %></p>

<%= render @book %>

<div>
  <div>
    <%= link_to "Edit this book", edit_book_path(@book), "data-controller": "turbo", class: "btn btn-primary mt-auto"%> |
    <%= link_to "Back to books", books_path, class: "btn btn-primary mt-auto"%>
  </div>

  <br>
  <div>
    <%= button_to "Destroy this book", @book, method: :delete, class: "btn btn-danger mt-auto" %>
  </div>
</div>
